.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .products button {
    background-color: #098115;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #000;
  }
  .card{
    border: 1px solid #c6c6c6;
    padding: 14px;
    border-radius: 12px;
    box-shadow: inset 1px 1px #e8e8e8;
  }
  